# 多元线性回归 I

黄荣贵（复旦大学社会学系）

In [8]:
library(car)

mod.duncan <- lm(prestige ~ income + education + type, data=Duncan)
summary(mod.duncan)

Call:
lm(formula = prestige ~ income + education + type, data = Duncan)

Residuals:
    Min      1Q  Median      3Q     Max
-14.890  -5.740  -1.754   5.442  28.972

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  -0.18503    3.71377  -0.050  0.96051
income        0.59755    0.08936   6.687 5.12e-08 ***
education     0.34532    0.11361   3.040  0.00416 **
typeprof     16.65751    6.99301   2.382  0.02206 *
typewc      -14.66113    6.10877  -2.400  0.02114 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 9.744 on 40 degrees of freedom
Multiple R-squared:  0.9131,	Adjusted R-squared:  0.9044
F-statistic:   105 on 4 and 40 DF,  p-value: < 2.2e-16

### 使用anova命令对嵌套模型进行检验

注意是小写的anova命令

In [9]:
mod.duncan.0 <- lm(prestige ~ 1, data=Duncan)

summary(mod.duncan.0)

Call:
lm(formula = prestige ~ 1, data = Duncan)

Residuals:
    Min      1Q  Median      3Q     Max
-44.689 -31.689  -6.689  33.311  49.311

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   47.689      4.697   10.15 4.18e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 31.51 on 44 degrees of freedom

In [10]:
anova(mod.duncan.0, mod.duncan)

  Res.Df RSS       Df Sum of Sq F        Pr(>F)
1 44     43687.644 NA       NA        NA           NA
2 40      3797.955  4 39889.69  105.0294 1.170871e-20

In [11]:
mod.duncan.0 <- lm(prestige ~ income + education, data=Duncan)

print(summary(mod.duncan.0))

anova(mod.duncan.0, mod.duncan)

Call:
lm(formula = prestige ~ income + education, data = Duncan)

Residuals:
    Min      1Q  Median      3Q     Max
-29.538  -6.417   0.655   6.605  34.641

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -6.06466    4.27194  -1.420    0.163
income       0.59873    0.11967   5.003 1.05e-05 ***
education    0.54583    0.09825   5.555 1.73e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 13.37 on 42 degrees of freedom
Multiple R-squared:  0.8282,	Adjusted R-squared:   0.82
F-statistic: 101.2 on 2 and 42 DF,  p-value: < 2.2e-16

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 42     7506.699 NA       NA        NA           NA
2 40     3797.955  2 3708.744  19.53022 1.207859e-06

### 多元线性回归中的线性假设检验：linearHypothesis命令的应用

In [4]:
linearHypothesis(mod.duncan, "income - education=0")

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 41     4023.850 NA      NA         NA        NA
2 40     3797.955  1 225.895   2.379123 0.1308417

lht命令和linearHypothesis命令是等价的。

In [5]:
lht(mod.duncan, "income - education=0")

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 41     4023.850 NA      NA         NA        NA
2 40     3797.955  1 225.895   2.379123 0.1308417

In [6]:
linearHypothesis(mod.duncan, "1*income - 1*education=0")

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 41     4023.850 NA      NA         NA        NA
2 40     3797.955  1 225.895   2.379123 0.1308417

下面一组命令与上一行命令是等价的。

In [7]:
hyp.m0 = matrix(c(0, 1, -1, 0, 0), byrow=T, ncol=5)
hyp.m0

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    1    -1   0    0

假设对应的矩阵表达中，每一行对应一个假设，每一列对应一个系数。

In [8]:
linearHypothesis(mod.duncan, hyp.m0)

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 41     4023.850 NA      NA         NA        NA
2 40     3797.955  1 225.895   2.379123 0.1308417

当只有一个假设时，假设矩阵也可以简化为一个向量。

In [12]:
linearHypothesis(mod.duncan, c(0, 1, -1, 0, 0))

  Res.Df RSS      Df Sum of Sq F        Pr(>F)
1 41     4023.850 NA      NA         NA        NA
2 40     3797.955  1 225.895   2.379123 0.1308417

F test: H0:除截距外，所有系数同时为0。

In [9]:
hm = diag(5)

hm = hm[2:5, ]
hm

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    1    0    0    0
[2,] 0    0    1    0    0
[3,] 0    0    0    1    0
[4,] 0    0    0    0    1

In [10]:
linearHypothesis(mod.duncan, hm)

  Res.Df RSS       Df Sum of Sq F        Pr(>F)
1 44     43687.644 NA       NA        NA           NA
2 40      3797.955  4 39889.69  105.0294 1.170871e-20

### 导出回归结果

In [11]:
library(export)

table2doc(summary(mod.duncan), file="multiple.ols.docx")

Exported table as multiple.ols.docx

type: flextable object.
col_keys: `Estimate`, `Std..Error`, `t.value`, `Pr...t..`
header has 1 row(s)
body has 5 row(s)
original dataset sample:
            Estimate Std..Error t.value Pr...t..
(Intercept)    -0.19       3.71   -0.05     0.96
income          0.60       0.09    6.69    <0.01
education       0.35       0.11    3.04    <0.01
typeprof       16.66       6.99    2.38     0.02
typewc        -14.66       6.11   -2.40     0.02