In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

/Users/rghuang/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [9]:
Prestige = sm.datasets.get_rdataset('Prestige', 'carData')

In [13]:
Prestige.data.head()

                     education  income  women  prestige  census  type
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [14]:
mod = smf.ols('prestige ~ income + education + C(type)', data=Prestige.data).fit()

In [15]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               prestige   R-squared:                       0.835
Model:                            OLS   Adj. R-squared:                  0.828
Method:                 Least Squares   F-statistic:                     117.5
Date:                Tue, 26 May 2020   Prob (F-statistic):           1.70e-35
Time:                        11:00:08   Log-Likelihood:                -328.51
No. Observations:                  98   AIC:                             667.0
Df Residuals:                      93   BIC:                             679.9
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.6229      5.228     -0.119      0.905     -11.004       9.758
C(type)[T.prof]     6.0390      3.867      1.562      0.122      -1.640      13.718
C(type)[T.wc]      -2.7372      2.514     -1.089      0.279      -7.729       2.255
income              0.0010      0.000      4.586      0.000       0.001       0.001
education           3.6732      0.641      5.735      0.000       2.401       4.945
==============================================================================
Omnibus:                        0.500   Durbin-Watson:                   1.787
Prob(Omnibus):                  0.779   Jarque-Bera (JB):                0.652
Skew:                          -0.106   Prob(JB):                        0.722
Kurtosis:                       2.662   Cond. No.                     7.34e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.34e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [17]:
sm.stats.anova_lm(mod)

             df        sum_sq      mean_sq           F        PR(>F)
C(type)     2.0  19775.594398  9887.797199  196.434712  4.085988e-34
income      1.0   2234.532528  2234.532528   44.392067  1.870640e-09
education   1.0   1655.472508  1655.472508   32.888242  1.205177e-07
Residual   93.0   4681.276177    50.336303         NaN           NaN

In [16]:
mod.wald_test("C(type)[T.prof] - C(type)[T.wc]=0").summary()

'<F test: F=array([[10.0311173]]), p=0.00208234722489301, df_denom=93, df_num=1>'